#nav {
    position: relative;
    background-color: #ddd9d9;
    height: 50px;
    width: 1280px;
    margin-left: 40px;
}
#nav li
    {
        
        list-style-type: none ;
        display: inline-block;
 
           height: 30px;
    }

#nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 18px;
}
#nav a:hover
{
    color:rgb(238, 109, 23);
}
#nav img{
    
    width: 20px;
    height: 20px;
}
th.styletb, td.styletb {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}

ul.menu-vertical {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: none;
}

li.menu-vertical2 {
  display: block;
  color: #000;
  font-size: 16px;
}

li.menu-vertical2 a {
    display: block;
    padding: 6px 16px;
}
/* Change the link color on hover */
li.menu-vertical2 a:hover {
  background-color: #ececec;
  color: blue;
}

.menu-vertical-mgt{
    margin-top:6px;
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

<style type="text/css">.col-item { 
    border: 1px solid #E1E1E1;  
    border-radius: 5px; 
    background: #FFF;
    }
    .col-item .photo img {  
    margin: 0 auto; 
    width: 100%;
    }
    .col-item .info {   
    padding: 10px;  
    border-radius: 0 0 5px 5px; 
    margin-top: 1px;
    }
    .col-item:hover .info { 
    background-color: #F5F5DC;
    }
    .col-item .price {      
    float: left;    
    margin-top: 5px;
    }
    .col-item .price h5 {   
    line-height: 20px;  
    margin: 0;
    }
    .price-text-color { 
    color: #219FD1;
    }
    .col-item .info .rating {   
    color: #777;
    }
    .col-item .rating {     
    float: left;    
    font-size: 17px;    
    text-align: right;  
    line-height: 52px;  
    margin-bottom: 10px;    
    height: 52px;
    }
    .col-item .separator {  
    border-top: 1px solid #E1E1E1;
    }
    .clear-left {   
    clear: left;
    }
    .col-item .separator p {    
    line-height: 20px;  
    margin-bottom: 0;   
    margin-top: 10px;   
    text-align: center;
    }
    .col-item .separator p i {  
    margin-right: 5px;
    }
    .col-item .btn-add {    
    width: 50%; 
    float: left;
    }
    .col-item .btn-add {    
    border-right: 1px solid #E1E1E1;
    }
    .col-item .btn-details {    
    width: 50%; 
    float: left;    
    padding-left: 10px;
    }
    .controls { 
    margin-top: 20px;
    }
    [data-slide="prev"] {
     margin-right: 10px;
    }</style>